body {
	background: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 100%;
}
.section {
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.line-of {

	line-height:20px;
	color:  green;
}

/*---[NAVIGATION BAR]--------------------------------------*/

.navbar {
	border-bottom: solid 5px #04819e;
	box-shadow: 0px 0px 5px 0px #000;
}
.navbar .nav,
.navbar .nav > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
}
.navbar-inner {
	text-align: center;
}
.navbar .nav {
	margin-left: 30px;
}
.navbar .nav a {
	line-height: 50px; /*change nav-bar height*/
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.35);
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color: #04819e;
}
.navbar .graphic {
	background-image: url("../img/logo-nav.png") no-repeat center center;
	width: 145px;
	display: block;
	/*background: rgba(255,0,0,0.25);*/

}
/*---[HERO UNIT]--------------------------------------*/

.hero-unit {
	height: 450px;
	max-width: 1500px;
	background: gray;
	margin-top: 0px;
	border-radius: 0px;
}

/*---[WHAT WE DO]--------------------------------------*/

.whatwedo				{ background: #000; /*#015367;*/ text-align: center; }
.whatwedo h2				{ width: 33.3%; color: white; background: #015367; padding: 20px; margin: 0 auto; text-transform: uppercase;
						  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35), 0 1px 0 rgba(255, 255, 255, 0.35); }
.whatwedo .intro-text	{ color: white; font-size: 1.6em; }
.whatwedo p				{ color: #ccc; }
.work-categories 		{ margin-top: 2em; margin-bottom: 2em; }

.work-categories ul 		{ margin: 0; list-style: none; }
.work-categories li		{ display: inline-block; margin: 0.5%; text-align: left; }

.work-category 			{ width: 17%; min-width: 200px; vertical-align: top; }
.work-category h3 		{ color: #047D99; text-align: center; letter-spacing: 1px; font-size: 2em; margin: 0 auto 10px 0; }
.work-category  > p		{ color: #cccccc; text-align: justify; letter-spacing: -0.5px; padding: 10px; }
.work-icons				{ text-align: center; }

.work-icon 				{ width: 1px; height: 1px; padding: 60px; border: solid 5px #047D99; border-radius: 80px;
						  -webkit-transform: scale(0.7); -moz-transform: scale(0.7); -ms-transform: scale(0.7); -o-transform: scale(0.7); transform: scale(0.7); }


#work-icon-html5		{ background: url("../img/icon-html5.png") 		no-repeat center center; }
#work-icon-css3			{ background: url("../img/icon-css3.png") 		no-repeat center center; }
#work-icon-jquery		{ background: url("../img/icon-jquery.png") 	no-repeat center center; }
#work-icon-wordpress	{ background: url("../img/icon-wordpress.png") 	no-repeat center center; }
#work-icon-drupal		{ background: url("../img/icon-drupal.png") 	no-repeat center center; }
#work-icon-joomla		{ background: url("../img/icon-joomla.png") 	no-repeat center center; }
#work-icon-php			{ background: url("../img/icon-php.png") 		no-repeat center center; }
#work-icon-javascript	{ background: url("../img/icon-javascript.png") no-repeat center center; }
#work-icon-mysql		{ background: url("../img/icon-mysql.png") 		no-repeat center center; }
#work-icon-facebook		{ background: url("../img/icon-facebook.png") 	no-repeat center center; }
#work-icon-twitter		{ background: url("../img/icon-twitter.png") 	no-repeat center center; }
#work-icon-linkedin		{ background: url("../img/icon-linkedin.png") 	no-repeat center center; }
#work-icon-desktop		{ background: url("../img/icon-desktop.png") 	no-repeat center center; }
#work-icon-tablet		{ background: url("../img/icon-tablet.png") 	no-repeat center center; }
#work-icon-mobile		{ background: url("../img/icon-mobile.png") 	no-repeat center center; }






/*-----------------[OLD CODE] --------------------------------*/




/*---[INTRODUCTION]--------------------------------------*/
.intro 					{ background: #fff; }
.intro h2				{ color: #04819e; }
.intro .intro-text 		{ color: #222; font-size: 1.4em; }
.intro p					{ color: #222; }
.client-logos 			{ margin-top: 2em; margin-bottom: 2em; }
.client-logo			{ height: 100px; background: red; }
.client-logo-1 			{ }
.client-logo-2 			{ }
.client-logo-3 			{ }
.client-logo-4 			{ }
.client-logo-5			{ }
.client-logo-6 			{ }


/*---[EMPLOYERS]--------------------------------------*/

.employers 				{ background: #04819e;/*#60b9ce;*/ text-align: center; }
.employers h2 			{ color: white; }
.employers .intro-text	{ font-size: 1.6em; }

/*---[JOB SEEKERS]--------------------------------------*/

.job-seekers 			{ background: #206676; text-align: center; }
.job-seekers h2			{ color: white; }
.job-seekers .intro-text { font-size: 1.6em }



.job-seeker-advice 		{
	font-size: 0.8em;
	margin-top: 2em;
	margin-bottom: 2em;
}
.job-seeker-tip {
	border: solid 2px black;
	text-align: justify;
}

/*---[ABOUT]--------------------------------------*/

.about 					{ background: #38b2ce; text-align: center; }
}
.industry-sectors {

}
.industry-sector {
	font-size: 0.8em;
}
.industry-sector-01	{ text-align: right; }
.industry-sector-02	{ text-align: left; }
.industry-sector-03	{ text-align: right; }
.industry-sector-04	{ text-align: left; }

.industry-icon {
	border: solid 2px black;
}
.industry-icon-01	{ }
.industry-icon-02	{ }
.industry-icon-03	{ }
.industry-icon-04	{ }

.founder {
	margin-top: 2em;
	margin-bottom: 2em;
}
.founder-picture {
	background: red;
}
.founder-text {
	text-align: left;
	font-size: 0.6em;
}
.founder-header{

}
.social-media-icon {
	display: inline-block;
	background: gray;
	float: right;
}
.testimonals {

}
.testimonial {
	border: solid 2px black;
	text-align: justify;
	font-size: 0.8em;
}

/*---[COLORS]--------------------------------------*/

.contact {

}
.contact-form {

}
.contact-capture ol li {
	list-style-type: none;
}
.contact-message ol li {
	list-style-type: none;
}
.contact-message input {
	height: 150px;
}
.contact-submit {
	text-align: center;
}
.contact-submit ol li {
	list-style-type: none;
}
.no-margin {
	margin-left: 0 !important;
}

/*---[COLORS]--------------------------------------*/

.blue	{ background: blue; }
.green	{ background: green; }
.purple	{ background: purple; }
.red	{ background: red; }
.white	{ background: white; }









